<form action="https://www.freshdesign.lv">
    <input type="text" value="" placeholder="epasts" name="epasts"/>
    <input type="radio"value="" name="lietotajs"/>
    <input type="password"value="" placeholder="parole" name="parole"/>
    <input type="submit"value="Spied mani!" name="spied"/>
</form>
<select>
<option>Sarkans</option>
<option>Zils</option>
<option>Oranzs</option>

</select>